<html>

  <div class='container'>
    <h3>
      Táto webová aplikácia bola vytvorená, aby pomohla rybárom vybrať si správny revír, návnadu alebo spôsob lovu na ulovenie daného druhu ryby.  Na to, aby sme poskytovali relevantné informácie potrebujeme aj tvoju pomoc. Tak neváhaj a pridaj svoj úlovok!
    </h3>

    <% if !logged_in? %>
      <center><%= link_to "Zaregistruj sa!", signup_path, class: "btn btn-lg btn-primary" %></center>
    <% else %>
      <center><%= link_to "Pridaj úlovok!", urcatches_path, class: "btn btn-lg btn-primary" %></center>
    <% end %>

  </div>


  <div class='container'>
    <center>
      <b>Revíry s najväčším počtom evidovaných úlovkov:</b>


      <body>
        <table style="width:50%">
          <tr>
            <th>Meno revíru</th>
            <th>Počet úlovkov</th>


            <% @population_on_acre.each do |place| %>
          <tr>
            <td> <%=place['name'] %> </td>
            <td> <%=place['count'] %></td>
          </tr>
        <% end %>
       </tr>
     </table>
    </body>
    </center>
  </div>






