<div class="center jumbotron">
  <h1>Welcome to the Fisherman's friend</h1>

  <h2>
    This app will help you to find best place for your fishing trip.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Ricardo milos"),
            'https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj8kYreva3hAhUKLewKHRV7CA8QjRx6BAgBEAQ&url=https%3A%2F%2Ftenor.com%2Fsearch%2Fricardo-gifs&psig=AOvVaw3s6qNnDtIMiNY8O2srqZ84&ust=1554159577886917' %>