
<div class="container" align="center">
  <h1>Revíry</h1>
</div>

<ul class="users" >
  <% @areas.each do |area| %>
    <li>
      <aside class="col-md-10">
       Názov revíru:<%= area.name %> <br>

      </aside>
      <%= link_to  'Ukáž detaily', area, class: "btn btn-primary" %>
    </li>


  <% end %>

</ul>

<%= will_paginate %>
