<div class="container"></div>
  <% @fishes.each do |fish| %>
    <li>
      <aside class="col-md-4">
        <%= fish.name %>
      </aside>
      <%= link_to  'Zobraz detaily', fish, class: "btn btn-primary" %>
    </li>


  <% end %>

</div>

