<ul class="users">
  <% @fishes.each do |fish| %>
    <li>
      <aside class="col-md-10">
        <b>Name:</b><%= fish.name %>
      </aside>
      <%= link_to  'Show details', fish, class: "btn btn-primary" %>
    </li>


  <% end %>

</ul>

