<footer class="footer">
  <div align="center">
    <p class="text-muted"> Táto stránka bola vytvorená ako školský projekt. Dáta o revíroch boli získané zo stránky kamnaryby.sk a dáta o úlovkoch nagenerované za účelom prezentácie.</p>
    <p class='text-muted'>Kontakt: jurajmecir@gmail.com</p>
  </div>
</footer>